h1 {
    color: green;
}

.bg_header_img {
    background: url('../images/random.jpg') no-repeat;
    margin-right: 15px;
    height: 300px;
    width: 500px;
}

h3 {
    font-size: 18px;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Bold.ttf');
}

body {
    font-family: 'Lora';
    padding-top: 30px;
}