<!DOCTYPE HTML>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <h1>Home page</h1>
        <div class="container">
            <h1><span id="img_container"></span>This image required in home_page.js </h1>
            <h3><span><img class="bg_header_img" /></span>This image via incline css bg image</h3>
        </div>
        <script src="/assets/shared.js"></script>
        <script src="/assets/home.js"></script>
    </body>
</html>